html {
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
    background-color: #ffe6f4; 
    margin: 0;
}
img {
    border: 0;
}

/*------------------------------ HEADER ------------------------------*/
#header {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
}

/** Logo **/
#logo {
    display: block;
    padding: 0 0 35px 20px;
}

/** Navigation **/
#navigation {
    height: 47px;
    padding: 13px 0 0 4px;
    position: absolute;
    bottom: -20px;
    left: 0;
}
#navigation ul {
    display: inline-block;
    height: 40px;
    width: 688px;
    list-style: none;
    margin: 0;
    padding: 4px 0 3px;
}
#navigation li {
    float: left;
    font-size: 16px;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
}
#navigation li.first {
    margin-left: 0;
}
#navigation li.selected {
    background-color: #ffd1ec;
}
#navigation a {
    color: #000000;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffeef8;
}
#navigation a:hover {
    color: #d91b77;
}

/** Searchbar **/
#search {
    height: 47px;
    width: 268px;
    padding: 13px 0 0;
    position: absolute;
    bottom: -20px;
    right: 0;
}
#search form {
    display: inline-block;
    margin: 0;
    padding: 5px 4px 4px;
}
#search input {
    float: left;
    line-height: 38px;
}
#search .txtfield {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    height: 38px;
    width: 234px;
    border: 0;
    margin: 0;
    padding: 0;
}
#search .button {
    border: 0;
    cursor: pointer;
    height: 38px;
    width: 20px;
    margin: 0;
    padding: 0;
}

/*------------------------------ AD BOX ------------------------------*/
#adbox {
    background-color: #ffffff;
    height: 340px;
    padding: 20px 0 0;
}
#adbox p {
    margin: 0;
}
#adbox .body {
    width: 960px;
    margin: 0 auto 0;
}

#adbox div.images {
    float: right;
    display: inline-block;
    height: 281px;
    width: 710px;
    overflow: hidden;
}

#adbox div.images img {
    float: left;
    width: 230px;
    height: 281px;
    object-fit: cover;
    margin-right: 2px;
}
#adbox div.images img.last {
    position: relative;
    top: -2px;
}

/* text box on the left */
#adbox .details {
    color: #000000;
    height: 200px;
    width: 200px;
    padding: 40px 20px 40px 10px;
}
#adbox .details p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
#adbox .details p span {
    color: #000000;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 20px;
    text-align: center;
}

#adbox .footer {
    height: 46px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}
#adbox div.footer ul {
    background-color: #ffe1f4;
    display: inline-block;
    width: 960px;
    list-style: none;
    margin: 0 auto;
    border-radius: 3px;
    padding: 0;
    position: absolute;
    bottom: -80px;
}
#adbox div.footer ul li {
    float: left;
    width: 280px;
    padding: 20px 20px 18px;
}

#adbox div.footer ul li img {
    float: left;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

#adbox div.footer ul li p {
    color: #000000;
    font-size: 14px;
    height: 88px;
    line-height: 20px;
    margin: 0;
}
#adbox div.footer ul li.selected {
    background-color: #ffd9f2;
    border-radius: 3px;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
    padding: 40px 0 20px;
}
#contents div.body {
    color: #000000;
    width: 960px;
    margin: 0 auto 20px;
}

/** MAIN **/
#main {
    background-color: #ffb6d9;
    width: 630px;
    margin: 60px 10px 0 300px;
    padding: 20px 0 20px 20px;
}
#main span, 
#main p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-right: 20px;
    text-align: justify;
}
#main span {
    font-size: 16px;
}
#main p a,
#main span a {
    color: #000000;
    text-decoration: none;
}

#main ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

#main ul li {
    width: calc(50% - 20px); 
    background-color: #ffcee4;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

#main ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#main ul li img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}

#main ul li h3 {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

#main ul li p {
    padding: 10px 0 0;
}


/** SIDEBAR **/
#sidebar {
    float: left;
    width: 270px;
    margin: 0;
    padding: 20px 20px 0 10px;
}
#sidebar h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
}
#sidebar ul {
    list-style: none;
    height: 420px;
    margin: 0;
    padding: 0;
}
#sidebar ul li {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
    color: #000000;
}
#sidebar ul li span {
    color: #000000;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

/*------------------------------ ABOUT PAGE ------------------------------*/
#contents .background {
    background-color: #ffffff;
    line-height: 20px;
    min-height: 960px;
    width: 920px;
    border-radius: 3px;
    margin: 0 auto;
    padding: 20px;
}
#contents div.background h3 {
    color: #000000;
    margin: 20px 0;
    text-transform: uppercase;
}
#contents div.background p {
    color: #000000;
    font-size: 14px;
    margin: 0;
    padding: 0 0 20px;
    text-align: justify;
}
#contents div.background p a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

/*------------------------------ BLOG PAGE ------------------------------*/
#blogs {
    display: inline-block;
}
#blogs div.section h3, #blogs div.sidebar h3 {
    margin: 0 0 20px;
    text-transform: none;
    color: #000000;
}
#blogs div.section h3 a {
    color: #000000;
    text-decoration: none;
}
#blogs div.sidebar {
    float: right;
    width: 270px;
}
#contents #blogs div.sidebar ul li a {
    color: #000000;
    text-decoration: none;
}
#contents #blogs div.sidebar ul li a:hover {
    color: #d91b77;
}
#blogs div.posts {
    margin: 0 0 40px;
}
#blogs div.posts ul {
    margin: 0;
    padding: 0 0 0 20px;
}
#blogs div.posts ul li {
    padding-bottom: 10px;
    color: #000000;
}
#contents #blogs div.archives ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#contents #blogs div.archives ul li {
    float: left;
    width: 135px;
    line-height: 30px;
    color: #000000;
}
#blogs div.section {
    margin-right: 300px;
}

/*------------------------------ CONTACT PAGE ------------------------------*/
#contents div#contacts ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
#contents div#contacts ul li {
    width: 450px;
    color: #000000;
}
#contents div#contacts ul li p b {
    margin: 0;
    text-transform: none;
}

#services span, #solutions span, #support span {
    color: #000000;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 20px;
    text-align: justify;
}
#services span a, #solutions span a, #support span a {
    color: #000000;
    text-decoration: none;
}

/*------------------------------ SERVICES / SHOWS PAGE ------------------------------*/
#services p {
    clear: both;
    color: #000000;
}
#services img {
    float: left;
    margin: 0 40px 20px 0;
}
#services ul {
    color: #000000;
    padding: 0;
}
#services ul li {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 20px;
    text-align: justify;
}

/*------------------------------ SOLUTIONS / FRIENDS PAGE ------------------------------*/
#solutions ul {
    color: #000000;
    margin: 0 0 0 15px;
    padding: 0;
}
#contents #solutions ul li p b {
    margin: 0 0 20px;
}


/*------------------------------ FOOTER ------------------------------*/
#footer {
    background-color: #ff8ac2; 
    color: #000000;
    line-height: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 5px;
    clear: both;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;             
}

#footer ul:not(:last-child) {
    margin-right: 20px;
}

#footer ul.contacts h3 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#footer ul.contacts li span {
    float: left;
    width: 50px;
}#footer ul.contacts li p {
    margin-left: 50px;
}

#connect h3 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#connect li {
    margin-bottom: 5px;
}
#connect li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

#studentID h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/*------------------------------ GREETING BOX ------------------------------*/
#greetingBox {
    width: 960px;
    margin: 20px auto;
    background-color: #ffb6d9;
    padding: 15px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px #ff8ac2;
}
#greetingBox input {
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid #ff8ac2;
    width: 200px;
    margin-right: 10px;
}
#greetingBox button {
    padding: 8px 15px;
    background-color: #ff8ac2;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
#greetingBox button:hover {
    background-color: #ff6fb7;
}
#greetingMessage {
    margin-top: 10px;
    color: #000;
    font-size: 18px;
}
